# Environment: virtualenv
venv/

# Visual Studio Code
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

# Byte-compiled
# *.py
*.py[cod]
*$py.class
__pycache__/

# Reference

# git push -u origin master

# git init
# git add .
# git commit -m "Description"
# git remote add origin https://github.com/alexandremosil/segcibufrgs.git
# git push -u origin master